@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

:root {
    --primary:#8f4565;
    --gray: #f8f4f7;
    --dark-gray:#3b3d41;
    --mauve:#44062f;
}

body {
    font-family: 'Ubuntu', 'Montserrat', sans-serif;
    margin: 0px;
}

hr {
    margin: 2rem 0;;
}

.text-sm {
    font-size: 0.8rem;
}

/** containers **/
.container-fluid {
    padding-left: 1rem;
    padding-right: 1rem;
}

.container {
    margin: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 600px;
}

/** links **/

.primary-link {
    text-decoration: none;
    color: white;
    background-color: var(--primary);
    width: max-content;
    min-width: 140px;
    border-radius: 0.5rem;
    padding: 0.8rem 1.5rem 0.8rem 1.5rem;
}

.secondary-link {
    text-decoration: none;
    color: var(--primary);
    border: 1px solid var(--primary);
    width: max-content;
    min-width: 140px;
    border-radius: 0.5rem;
    padding: 0.8rem 1.5rem 0.8rem 1.5rem;
}

/** nav **/
.navigation {
    background-color: var(--primary);
    padding: 1rem 0rem;
    color: white;
    border-bottom-left-radius: 1rem;
}

.navigation .brand {
    font-weight: bold;
    
}

.navigation ul {
    list-style: none;
    text-align: right;
}

.navigation li {
    display: inline-block;
    padding: 0rem 0.8rem;;
}

.navigation a {
    text-decoration: none;
    color: white;
}

.navigation .active {
    font-weight: bold;
    color:var(--mauve);
}

/** header **/

.hero {
    color: var(--dark-gray);
    display: block;
    margin: auto;
    text-align: center;
    padding: 2rem 0rem;
}

.hero h2{
    color: var(--mauve);
}

.hero h1{
    color: var(--mauve);
}

.hero img {
    max-width: 80%;
    margin: auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: block;
}

/** section **/

.section {
    padding: 2rem 0rem 2rem 0rem;
}

.section p{
    padding: 1rem 0rem;
}

.section h2 {
    text-align: center;
    color: var(--mauve);
}

.section {
    text-align: center;
    padding: 3rem 0rem;
}
.section .table-overflow{
    overflow-x: auto;
}


.ow {
    color: var(--dark-gray);
    background-color: var(--gray);
}

.section-no-padding{
    padding: 0rem;
}

/** lists **/

.list li{
    padding: 0.5rem 0rem !important;
}

.unordered {
    list-style: none;
}

.list-inline li {
    display: inline;
    padding: 0rem 0.5rem;
}


/** footer **/
.footer {
    background-color: var(--primary);
    color: white;
    padding: 1.5rem 0rem;
    border-top-right-radius: 1rem;
    text-align: center;
}
.footer .heading {
    font-weight: bold;
    font-size: larger;
  
}
.footer ul {
    padding-inline-start: 0px;
}
.footer a{
    text-decoration: none;
    color: white;
}
.footer i{
   padding: 0 1.5rem;
}

/* table */
.table-center{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 1.5rem;
}
.table-center td{
    padding:0.5rem 3rem;
    text-align: left;
    
}

/*divs*/
.div-center{
    max-width: 800px;
    margin: auto;
}

.div-center li{
    padding-bottom: 4rem;   
}

.div-left{
    text-align: left !important;
    max-width: 55%;
    margin: auto;
}

.div-left p{
    padding:0px;
}

.div-left h2{
    text-align: left !important;
    color: var(--mauve);
}

.div-left li{
    padding-bottom: 4rem;
}

.breadcrumbs{
    padding-left: 5rem;
    padding-top: 2rem;
    color: var(--dark-gray);
}

.breadcrumbs a{
    text-decoration: none;
    color: var(--dark-gray);
}